<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">

		<link href="../styles/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<link href="../styles/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
		<!--[if IE]>
		<link href="../styles/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<![endif]-->
	</head>
	<body>
		<section class="game-canvas" style="width: 700px; height: 700px; display: flex;">

		</section>
		<section class="user-controller" style="width: 175px; height: 700px; display: flex;">

		</section>
		<script type="text/javascript" src="../dart/main.js"></script>
	</body>
</html>
